{
  "rules": {
    "indent": [2, 2],
    "no-empty": [2],
    "no-console": [0],
    "comma-dangle": [2],
    "no-unused-vars": [0],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"]
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ]
}
