.dPad {
  button {
    position: absolute;
    display: block;
    z-index: 9999;

    &.up {
      top: 0;
      left: 50%;
      margin-left: -25px;
    }

    &.down {
      bottom: 0;
      left: 50%;
      margin-left: -25px;
    }

    &.left {
      top: 50%;
      left: 0;
      margin-top: -25px;
    }

    &.right {
      top: 50%;
      right: 0;
      margin-top: -25px;
    }

    width: 50px;
    height: 50px;
  }

  &.hidden, .hidden {
    display: none;
  }
}
